# Data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
data_dir = '/home/benjamin/Folders_Python/MVA_Kernel_Project/data/raw/'

filename = '/home/benjamin/Folders_Python/MVA_Kernel_Project/data/raw/Xtr0.csv'
labelname = '/home/benjamin/Folders_Python/MVA_Kernel_Project/data/raw/Ytr0.csv'

In [18]:
with open(filename,'r') as f:
    X = pd.read_csv(f, index_col=0)
    
with open(labelname, 'r') as g:
    y = pd.read_csv(g, index_col=0)

In [19]:
X

                                                    seq
Id
0     GGAGAATCATTTGAACCCGGGAGGTGGAGGTTGCCGTGAGCTGAGA...
1     ACCCTGCCTACACCGCGGCGGGGACAGGTGGAGGTTTCAACCCCTG...
2     TGCAAATCTGTAAGCATTTCTCAGGCAATGAATTATGTCAACACAA...
3     GCGGGACGTGGGCGTCGAGGGTAAGGATATCTGCAGAAGTACTGTC...
4     GGAGAATAGCATGTATCCGAGAGGTGGAGCTGGCAGTGAGCCGAGA...
...                                                 ...
1995  GGAGAATCACTTGAACCCGGGAGGCAGAGGTTGCAGTGAGCCGAGA...
1996  GGAAAAAGACATTCAGGACCACGGACAGATCCAGGACTGCCAGTTG...
1997  TGGCCGGCCCGGCGCCGTCACCGCCCTCAAAAGACATGGCGGCGCC...
1998  GCTTCATCATCACAGTGCAGCAGCTGACTACTTGCTAACTAACGTG...
1999  GCAGAATGAAGCTCTTGTTGCTTTGGCATTAATAGCAGCTTTAGAA...

[2000 rows x 1 columns]

In [20]:
y

      Bound
Id
0         0
1         1
2         1
3         0
4         1
...     ...
1995      0
1996      1
1997      1
1998      1
1999      0

[2000 rows x 1 columns]

In [ ]:
list_longueurs = [len(seq) for seq  in X['seq']]
longueurs = set(list_longueurs)
print(f"longueurs des sequences : {longueurs}")

longueurs des sequences : {101}

In [27]:
print(f"labels : #0 = {np.sum(y["Bound"]==0)}, #1 = {len(y)-np.sum(y["Bound"]==0)}")

labels : #0 = 1023, #1 = 977